body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align:center
} 
form{
    width: 35rem;
    height: 24rem;
    margin: 0px auto;
    text-align: center;
    font-size: 1.1rem;
    border-radius: 17px;
    padding: 1rem;
    background: white;
    opacity: .8;

}

.close{
    position: absolute;
    left: 30rem;
    top: 1px;
}

.tupian{
    text-align: center;
}

.touxiang{
    position: absolute;
    left: 45rem ;
    top: 7rem ;
}

.xtp{
    height: 1.8rem;
    margin: 0 0 0 1rem;
}

form p{
    font-size: .8rem;
    height: .9rem;
    text-align: left;
    margin: .5rem 0;


}

form button{
    width: 98%;
    height: 3rem;
    border-radius: 8px;
    background: palevioletred;
    font-size: 1rem;
    color: papayawhip;
    margin: 2.5rem 0 2.5rem 0;

}

button:focus{
    outline: none;
    border: 1px solid greenyellow;
}

.logo{
    height: 6rem;
}

.error{
    color: red;
}

.ipt-error{
    border-bottom: 1px solid red;
}

.hide{
    display:none;
}